{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Listado</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sabias que!</a>
      </div>
      
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'fun_fact_list' %}">Listado</a></li>
        <li><a href="{% url 'fun_fact_new' %}">Crear</a></li>
        <li><a href="#">Busqueda</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% for object in object_list%}
           <!--  #FBFBF4 -->
          <div class="card card-block">
            <h4 class="card-title"> {{ object.title.title }}</h4>
            <p class="card-text"> {{ object.description_format }}</p>
            <a href="{% url 'fun_fact_detail' object.pk %}" class="card-link">Mostrar</a>
            <a href="{% url 'fun_fact_edit' object.pk %}" class="card-link">Editar</a>
          </div>
          <hr>
        {% endfor %}

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
  <hr>

  <footer>
    <div class="container">
      <div class="row">
        <p class="copyright text-muted">&copy; Sabias que!</p>
      </div>
    </div>
  </footer>

</body>
</html>