{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Listado</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

  <h2>{{ object.title }}</h2>

  <a href="{% url 'fun_fact_edit' object.pk %}" class="card-link">Editar</a>

  <form action="{% url 'fun_fact_delete' object.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>

</body>
</html>